div.card{
    width: 200px;
    box-shadow: 10px 15px 8px 0 rgba(0,0,0,0.2), 10px 20px 8px 0 rgba(0,0,0,0.19);
    text-align: center;
}
div.header{
    background-color: #4caf50;
    color: white;
    padding: 10px;
    font-size: 40px;
}
div.contain{
    padding: 10px;
}