/*====================*/
/*BASIC SETUP*/
/*====================*/
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Titillium Web', sans-serif;
}
h1{
    font-size: 42.16px;
    color: #fff;
}
ul li{
    list-style-type: none;
}

/*========================*/
/*REUDABLE COMPONENTS*/
/*========================*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}
/*BUTTON*/
.btn:link,
.btn:visited,
.btn {
    background-color: #333;
    color: #fff;
    border-bottom: 3px #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 60px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 45px;
}

/*========================*/
/*HEADER SECTION*/
/*========================*/
header{
    background:linear-gradient(rgb(135, 80, 156,0.8),rgb(135, 80, 156,0.8)), url(img/7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 85vh;
    position: relative;
}
.logo{
    height: 35px;
    width: auto;
    margin-top: 35px;
    float: left;
}
/*MAIN NAVIGATION*/
.main-nav{
    float: right;
    margin-top: 40px;
}
.main-nav li{
    display: inline-block;
    margin-left: 10px;
}
.main-nav li:first-child{
    margin-left: 0;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 16px;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    transition: .3s;
    
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    background-color: #643a79;
}
.active{
    background-color: #643a79;
    border-radius: 3px;
    
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.btn-hero:link,
.btn-hero:visited{
    background-color: #eb7d4b;
    border-color: #c86a40;
}


