/* Start basic setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Stop basic setup */

/* Start heading section */


header{
    float: left;
}
.tooltip .tooltip-text{
    visibility: hidden;
    background-color: #000;
    width: 150px;
    color: #fff;
    font-size: 30x;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    left: 70px;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
}

.tooltip {
	float: left;
}


/* Stop heading section */
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
  Tooltip on bottom
  </button>