*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    background: #B600C4;
}

.container{
    width: 50rem;
    margin: auto;
}

.row{
    width: 50%;
    height: 30rem;
    display:block;
    float: left;
    background: #fff;
    margin:4rem 0;
    padding: 4rem 0rem;
    text-align: center;
}

input {
	width: 18rem;
	height: 2.5rem;
	margin: 1rem 0;
	border-radius: 2rem;
	outline: none;
	border: 0;
	background: #ddd;
	padding: 0 1.5rem 0 2.5rem;
}
.form-group{
    position: relative;
}
.icon {
	position: absolute;
	left: 70px;
	top: 30px;
	font-size: 13px;
	color: #777;
}
input[type=submit]{
    background-color: #20CC44;
}

span div a{
    text-decoration: none;
    color: #52B46B;
}
span div{
    color:  #52B46B;;
}
span{
    display: flex;
    justify-content: center;
}

.img-wrap {
	background: #eee;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	margin: 0 auto;
    position: relative;
}
.img-wrap img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
	transform: translateY(-75%);
	width: 200px;
}
.form-left-side{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.form-right-side{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

